/* General Styles */
.pl-24 {
    padding-left: 24px;
}

.dropdown ul li.has-submenu::before, .dropdown ul li.has-subsubmenu::before {
    background-image: url('../simages/arrow-right.svg');
    transform: rotate(0deg);
    top: 25%;
    height: 1rem;
    width: 1rem;
}

#mobileMegaMenu .card .show::after {
    background:transparent;
}


.dropdown ul li.has-submenu:hover::before, .dropdown ul li.has-subsubmenu:hover::before {
    background-image: url('../simages/arrow-right-white.svg');
}

.bottom-menu-card {
    padding: 0 4.8rem;
    margin-top: 24px;
}

.phone {
    display: none;
}

#apply-btn {
    border-radius: 30px;
    background: #007878;
    color: #fff;
    padding: 12px;
    padding-right: 40px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    font-size: 11px;
}

#apply-btn::after
{
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    right: 14px;
    background-image: url(../images/chevron-down1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 8px;
}

.header-top {
    position: relative;
    background:  linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
    );
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    backdrop-filter: blur(12px);
    z-index: 2;
}

.middle-navbar ul li a {
  color: white !important;
}

.fixed-back {
    z-index: 99;
}

#setmarginContainer {
    margin-bottom: var(--rd-headerHeight, 128px);
}

.fixed-back {
    position:fixed;
    top: 0;
    z-index: 100 !important;
}

/* Dropdown adjustments */
.hamburger-menu-container {
    height: calc(100vh - var(--rd-headerHeight, 53px) - 1px);
    overflow: scroll;
}

.hamburger-close {
    display: none;
    width: 36px !important;
    padding: 8px;
}
.menu-btn.times .hamburger-close {
    display: block;
}

#mobileMegaMenu .primary-nav-container {
    padding-right: 8rem;
}
#mobileMegaMenu .primary-nav-item {
    padding-left: 0;
    padding-right: 0;
}

.logo-white {
    display: block !important;
}

.logo-green {
    display: none !important;
}

.header-top {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
}

/* Responsive Styles */
@media (max-width: 600px) {
    .fixed-back {
        position: fixed;
    }

    .hreflink {
        line-height: 29px !important;
    }

    .uholder {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 30px;
    }

    .header-search-results {
        top: 53px !important;
        padding: 0 40px !important;
    }

    .searchInput::placeholder {
        opacity: 0;
    }

    .banner-desdaw {
        margin-top: 45px !important;
    }

    .middle-navbar,
    .searchButton,
    .hide {
        display: none;
    }

    .cta-button {
        border: 2px solid teal;
    }
}

@media only screen and (max-width: 480px) {
    .new-title {
        z-index: 0 !important;
    }

    .change-bg-color {
        background-color: #007878 !important;
    }

    #mobileMegaMenu .card .card-body .link-list .link-item a {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 1900px) {
    .header-top {
        padding: 5px 10%;
    }
}

/* Header Styles */
.header-bottom {
    background: #004646;
}

.header-bottom ul li .dropdown ul li a {
    text-transform: none !important;
}



/* Results Section */
.header-search-results {
    position: fixed;
    top: 135px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    overflow: auto;
    display: none;
    padding: 35px 277px 35px;
    background-color: black;
}

.results-heading {
    padding: 100px 0 50px;
    background-color: black;
    color: var(--White, #FFF);
    font-family: "Open Sans";
    font-size: 50px;
    font-weight: 300;
    line-height: 130%;
    text-transform: uppercase;
}

.results-item {
    margin: 20px 0;
}

.snippet {
    color: white;
}

.bar {
    background-color: #00555a;
    padding-left: 50px;
    margin-bottom: 50px;
    color: var(--White, #FFF);
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.5px;
}

.ulhol {
    background-color: black;
    border: 1px solid var(--graphite-colors-80, #333);
    padding: 0 50px 21px;
}

/* Navigation Links */
.hreflink {
    color: var(--Primary-Color-Plaksha-AQUA, #00A0B4);
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.15px;
    text-decoration: underline solid;
    padding-bottom: 10px;
}

/* Pagination */
.pagination {
    margin: auto;
    border-radius: 17px;
    border: 2px solid var(--graphite-colors-80, #333);
    width: 236px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.page-button {
    background: none;
    color: white;
    border: none;
    width: 26px;
    height: 26px;
}

/* Navigation Submenus */
.subsubmenu {
    display: none;
    position: absolute;
    top: 0;
    left: 90%;
    background-color: #fff;
    min-width: 184px;
    border-radius: 6px;
    z-index: 33;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

ul li:hover .subsubmenu {
    left: 100%;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}

.has-subsubmenu {
    position: relative;
    width: 100%;
}

.has-subsubmenu::before {
    position: absolute;
    content: '';
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(90deg);
    background-image: url(https://plaksha.edu.in/images/checvron-white-up.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 14px;
    height: 8px;
    z-index: 1;
}

.has-subsubmenu:hover > .subsubmenu {
    display: block;
}

@media only screen and (min-width:766px) and (max-width:1200px)
{
  .middle-navbar ul li a {
      color: #000 !important;
  }

  #apply-btn::after
  {
      background-image: url("https://media.plaksha.edu.in/chevron-down1%20(2).png") !important;
  }
}

@media only screen and (max-width:1200px) {

    .subsubsubnavbutton {

        background-color: transparent;
        outline: none !important;
        border: 1px solid transparent;
        box-shadow: none;
        width: 17px;
        height: 17px;
    }

    .subsubsubnavbutton::after {
        content: '';
        background: url(../assets/mobile-hamburger-plus.svg) no-repeat center center !important;
        display: inline-block;
        width: 17px;
        height: 17px;
    }

    .subsubsubnavbutton:not(.collapsed)::after{
        background: url(../assets/mobile-hamburger-minus.svg) no-repeat center center !important;
        background-size: contain;
    }

    .links-container {
        background-color: transparent !important;
    }

    .border-0 {
        background-color: transparent !important;
    }

    .bg-black-blurred {
        background-color: rgba(0, 0, 0, 0.85) !important;
        backdrop-filter: blur(12px) !important;
        -webkit-backdrop-filter: blur(12px) !important;
    }

    #apply-btn {
        border-radius: 0px !important;
    }

    .phonebutton {
        color: white !important;
        font-size: 4rem !important;
        font-weight: 400 !important;
        font-stretch: normal !important;
        font-style: normal !important;
        letter-spacing: -0.46px !important;
        border-bottom: 2px solid rgb(88 88 88) !important; /* Adjust the thickness and color */
    }

    .extras {
        border-bottom: 0px solid rgb(88 88 88) !important;
    }

    .submenumobile {
        display: flex;
        border-bottom: 2px solid rgb(88, 88, 88);
        justify-content: space-between;
        align-items: center;
    }

    .apply-btn-mob
    {
        background-color: transparent;
        border: 1px solid #fff;
    }

    .middle-navbar
    {
        display: none;
    }

    .dropdown-mobile {
        visibility: visible !important;
        opacity: 1;
        background-color: #FFFFFF;
        border-radius: 0px;
        border: 1px solid #fff;
        top: 100%;
        left: 4.8rem;
        margin-bottom: 5rem;
    }
    .dropdown-mobile ul {
        padding: 1rem 0;
    }
    .dropdown-mobile ul li a {
        color: #000000;
    }
    .dropdown-mobile::before {
        height: 12px;
        width: 12px;
        top: -10px;
        left: 10%;
    }

    .header-top {
        background-size: cover;
        background-color: none;
    }

    #mobileMegaMenu .card .card-body .link-list .link-item a {
        color: #d8d8d8;
        display: flex;
        justify-content: space-between;
    }

    #mobileMegaMenu .card .show::after
    {
        background:transparent;
    }

    .header-top {
        padding-top: 0px !important;
        padding-bottom: 0px !important;
    }

    .humber-menu {
        width: 36px !important;
    }
}

@media only screen and (max-width:786px) {
    .drop-mb {
        margin-bottom: 125px !important;
        transition: smooth;
    }
}